@{
    ViewData["Title"] = "Product - Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product
    <h2 id="page-header">Edit</h2>
    <h4>Edit this task: @Html.DisplayFor(model => model.product_name)</h4>

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.id)

        <label>Product Name:</label>
        @Html.EditorFor(model => model.product_name)
        <label>Product Cost:</label>
        @Html.EditorFor(model => model.cost)
        <label>Country:</label>
        @Html.EditorFor(model => model.country)

        <input class="btn btn-primary" type="submit" value="Save" />
    }
<a class="btn btn-default" href="/Product">Back to List</a>
